html, body {
  height: 100%;
  width: 100%;
}
body{
  background-color: white;
  font-family: "fantasy";
}
.gothic-one,.gothic-two, .vic-one, .vic-two, .roman, .romanesq{
  display: flex;
  justify-content: space-around;
}
 img{
  height: 250px;
  width: 250px;
   border: 1px solid black;
}
div{
  padding-bottom: 75px;
}
nav{
  background-color: #7a9263;
  margin: 0;
  margin-top:0;
  font-size: 36px;
 
}
a{
  color: black;
  background-color: #77a054;
  padding: 2 px;
  text-decoration: none;
  margin: 5px;
  border: 1px solid black;
  border-radius: 25px;
}
a:hover{
  background-color: white;
}
.stick{
  position:fixed;
  top:0;
  width: 100%;
}